body {
    text-align: center;
}
hr {
    margin: 1rem 0;
}
div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.background {
    background-color: #D3D3D3;
}
.header {
    text-align: center;
    color: #000000;
    font-size: 30px;
}
.footer {
    text-align: center;
    color: #FF0000;
    font-size: 10px;
}
.hover-to-white {
    background-color: #FF0000;
    color: #FFFFFF;
}
.hover-to-white:hover {
    background-color: #FFFFFF;
    color: #FF0000;
}
.hover-to-red {
    background-color: #2D2D2D;
    color: #FFFFFF;
}
.hover-to-red:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}
.top-padding {
    padding-top: 20px;
}